<%# app/views/shared/_header.html.erb %>
<header class="bg-white border-b border-[var(--color-border)] px-4 py-2">
  <nav class="container mx-auto flex justify-between items-center p-md">
    <div><%= link_to "Tawanda Munongo", root_path, class: "text-xl font-bold" %></div>
    <div>
      <%= link_to "Blog", blog_index_path, class: "mr-4" %> | 
      <%= link_to "Musings", musings_index_path, class: "mr-4" %> | 
      <%= link_to "Reading List", recommended_reading_path, class: "mr-4" %> | 
      <%= link_to "About", about_path, class: "mr-4" %>
    </div>
  </nav>
</header>